@using MedSyncApp.Core.Application.ViewModels.Patient;
@model SavePatientViewModel;
@{
    ViewData["Title"] = "Eliminar Paciente";
}

<div class="container-fluid d-flex align-items-center justify-content-center custom-height rounded">
    <div class="row rounded">
        <div class="custom-delete-card rounded border-0 box-shadow rounded-top">
            <div class="custom-card-header bg-success bg-gradient text-dark rounded-top">
                <h4 class="text-light display-6 m-2">¿Estás seguro que quieres eliminar el paciente @Model.Firstname @Model.Lastname?</h4>
            </div>
            <div class="custom-card-body rounded-bottom">
                <div class="d-flex justify-content-center rounded-bottom">
                    <form method="post" asp-controller="Patient" asp-action="DeletePost">
                        <input type="hidden" asp-for="Id" />
                        <a asp-controller="Patient" asp-action="Index" class="btn btn-warning m-2">Cancelar</a>
                        <button type="submit" class="btn btn-danger m-2">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>