@using MedSyncApp.Core.Application.ViewModels.User;
@model UserViewModel;
@{
    ViewData["Title"] = "Inicio";
}

<div class="container-fluid">
    <div class="row m-5 rounded">
        <h1 class="display-1 fw-bold fst-italic text-center custom-dark-color">MedSync Administración</h1>
    </div>
    <div class="row mb-3 rounded">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card bg-left border-success custom-dark-color mb-4 bg-opacity-10 box-shadow flex-fill">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h4>Usuarios</h4>
                        <p>Gestiona la administración de los usuarios.</p>
                    </div>
                    <a asp-controller="User" asp-action="Index" class="btn btn-sm btn-success m-2">Ir a Usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card bg-left border-success custom-dark-color mb-4 bg-opacity-10 box-shadow flex-fill">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h4>Médicos</h4>
                        <p>Gestiona la administración de los médicos.</p>
                    </div>
                    <a asp-controller="Doctor" asp-action="Index" class="btn btn-sm btn-success m-2">Ir a Médicos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card bg-left border-success custom-dark-color mb-4 bg-opacity-10 box-shadow flex-fill">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h4>Pruebas de Laboratorio</h4>
                        <p>Gestiona la administración de pruebas de laboratorio.</p>
                    </div>
                    <a asp-controller="LabTest" asp-action="Index" class="btn btn-sm btn-success m-2">Ir a Pruebas de Laboratorio</a>
                </div>
            </div>
        </div>
    </div>
</div>