@using MedSyncApp.Core.Application.ViewModels.User
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid d-flex align-items-center justify-content-center custom-height">
    <div class="row justify-content-center p-4">
        <div class="col-6 p-5 bg-right bg-gradient align-items-center">
            <div class="flex-fill h-100 d-flex align-items-center justify-content-center">
                <h1 class="display-5 fw-bold fst-italic custom-light-color text-center">MedSync</h1>
            </div>
        </div>
        <div class="col-6 p-5 bg-left">
            <form method="post" asp-controller="Login" asp-action="Index">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "", new { @class = "alert-danger" })
                    </div>
                }
                <div class="mb-3">
                    <label asp-for="Username" class="fw-bold custom-dark-color mb-2">Nombre de usuario</label>
                    <input class="form-control custom-input bg-success bg-opacity-10 custom-dark-color" asp-for="Username">
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="fw-bold custom-dark-color mb-2">Contraseña</label>
                    <input class="form-control custom-input bg-success bg-opacity-10 custom-dark-color" asp-for="Password">
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>